{
  "env": {
    "development": {
      "plugins": [[
        "react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    }
  },
  "plugins": ["react-require", "transform-runtime"],
  "presets": ["stage-0", "es2015", "react"]
}
