.input {
  border: 1px solid #eee;
  border-radius: 3px;
  color: #444;
  flex: 1;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  padding: 8px;
}

.input:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}

.invalid {
  border-color: #ED1631;
}

.invalid:hover {
  border-color: #CC0302;
}
