.element {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.element .section {
  background: rgba(0, 0, 0, 0.03);
  border: solid 1px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin: 5px 0;
  padding: 0 15px 10px;
}

.elementLabel {
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0 5px;
  text-transform: uppercase;
}
