.ct-app,
.ct-document,
.ct-fields,
.ct-field-wrap,
.ct-field-label,
.ct-field,
.ct-actions {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ct-app {
  align-self: center;
  background: white;
  border: solid 1px #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  min-height: 22px;
  padding: 10px 30px;
  position: relative;
  width: 500px;
}

.ct-document {
  padding-bottom: 30px;
}

.ct-activity-indicator,
.ct-error-message {
  background: #bbb;
  border: solid 1px #aaa;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05);
  color: #eee;
  font-size: 12px;
  margin: -45px auto 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  text-align: center;
}

.ct-error-message {
  background: #FF6767;
  border-color: #DC6363;
  color: white;
}

.ct-document-header {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 10px 0 20px;
}

.ct-document-header h1 {
  flex: 1;
  font-size: 30px;
  font-weight: 100;
  margin: 5px 0;
}

.ct-actions {
  flex: none;
}

.ct-action {
  background: #76BFF3;
  border: solid 1px #5DB0EA;
  border-radius: 3px 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
}

.ct-field-label {
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0 5px;
  text-transform: uppercase;
}

.ct-field {
  border: 1px solid #eee;
  border-radius: 3px;
  color: #444;
  flex: 1;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  padding: 10px 8px;
}

.ct-select-field {
  -webkit-appearance: none;
}

.ct-action:hover {
  background: #81C8FB;
}

.ct-action:active {
  background: #5DB0EA;
}

.ct-json-debugger {
  bottom: 0;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
  margin: 0;
  top: 55px !important;
  width: 500px !important;
}
