.ct-actions,
.ct-app,
.ct-document,
.ct-element,
.ct-element-label,
.ct-link,
.ct-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ct-app {
  align-self: center;
  background: white;
  border: solid 1px #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  min-height: 22px;
  padding: 10px 30px;
  position: relative;
  width: 500px;
}

.ct-document {
  padding-bottom: 30px;
}

.ct-activity-indicator,
.ct-error-message {
  background: #bbb;
  border: solid 1px #aaa;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05);
  color: #eee;
  font-size: 12px;
  margin: -45px auto 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  text-align: center;
}

.ct-error-message {
  background: #FF6767;
  border-color: #DC6363;
  color: white;
}

.ct-document-header {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 10px 0 20px;
}

.ct-document-header h1 {
  flex: 1;
  font-size: 30px;
  font-weight: 100;
  margin: 5px 0;
}

.ct-action-list {
  flex: none;
}

.ct-action {
  background: #76BFF3;
  border: solid 1px #5DB0EA;
  border-radius: 3px 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
}

.ct-action:hover {
  background: #81C8FB;
}

.ct-action:active {
  background: #5DB0EA;
}

.ct-element > .ct-section {
  background: rgba(0, 0, 0, 0.03);
  border: solid 1px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  margin: 5px 0;
  padding: 0 15px 10px;
}

.ct-element-label {
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0 5px;
  text-transform: uppercase;
}

.ct-input,
.ct-link {
  flex: 1;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}

.ct-link {
  color: #5DB0EA;
  padding: 5px 0;
  text-decoration: none;
}

.ct-link:hover {
  color: #76BFF3;
  text-decoration: underline;
}

.ct-input,
.ct-dropdown-list > .Select-control {
  border: 1px solid #eee;
  border-radius: 3px;
  color: #444;
  flex: 1;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  padding: 8px;
}

.ct-input:hover,
.ct-dropdown-list > .Select-control:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}

.ct-input-invalid {
  border-color: #ED1631;
}

.ct-input-invalid:hover {
  border-color: #CC0302;
}

.ct-error-tooltip {
  background-color: #CC0302 !important;
}

.ct-error-tooltip::after {
  border-bottom-color: #CC0302 !important;
}

.ct-dropdown-list > .Select-control {
  padding-left: 10px;
  padding-right: 52px;
}

.ct-json-debugger {
  bottom: 0;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
  margin: 0;
  top: 55px !important;
  width: 500px !important;
}
