.navigation {
  margin: 25px auto;
  width: 700px;
}

.navigation input {
  border: solid 1px #ddd;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  color: #555;
  font-size: 15px;
  font-weight: 100;
  outline: 0;
  padding: 15px 15px;
  width: 600px;
}

.navigation button {
  background: #0095FF;
  border: solid 1px #1281D0;
  border-radius: 0 5px 5px 0;
  color: white;
  float: right;
  font-size: 15px;
  font-weight: 400;
  outline: 0;
  padding: 15px 0;
  width: 100px;
}

.navigation button:active {
  background: #1281D0;
}
