.errorTooltip {
  background-color: #CC0302 !important;
}

.errorTooltip:after {
  border-bottom-color: #CC0302 !important;
}

.app {
  background: white;
  margin: 100px auto;
  width: 500px;
}

.app * {
  box-sizing: border-box;
}

.app,
.app button,
.app input,
.app select,
.app textarea {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  outline: 0;
}
