body,
button,
input,
select,
textarea {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  outline: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  background: #f8f8f8;
  height: 100%;
  margin: 0;
}

[data-endpoint] {
  background: white;
  border: solid 1px #eee;
  border-radius: 3px;
  margin: 100px auto;
  padding: 10px 30px;
  width: 500px;
}
