body,
button,
input,
select,
textarea {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  outline: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  background: #f8f8f8;
  height: 100%;
  margin: 0;
}

[data-endpoint] {
  background: white;
  border: solid 1px #eee;
  border-radius: 3px;
  margin: 100px auto;
  padding: 10px 30px;
  width: 500px;
}

.Select > .Select-control {
  border: 1px solid #eee;
  border-radius: 3px;
  color: #444;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}

.Select.ct-input-invalid > .Select-control {
  border-color: #ED1631;
}

.Select.ct-input-invalid > .Select-control:hover {
  border-color: #CC0302;
}

.Select > .Select-control:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}

.Select > .Select-control > .Select-item {
  margin-left: 6px;
  margin-top: 6px;
}

.Select > .Select-control > .Select-arrow-zone,
.Select > .Select-control > .Select-clear-zone {
  vertical-align: inherit;
}
