.Select > .Select-control {
  border: 1px solid #eee;
  border-radius: 3px;
  color: #444;
  flex: 1;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 52px;
}

.Select > .Select-control:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}
