ct-action-list {
  text-align: right;
}

.ct-action {
  background: #76BFF3;
  border: solid 1px #5DB0EA;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
}

.ct-action:hover {
  background: #81C8FB;
}

.ct-action:active {
  background: #5DB0EA;
}
