.ct-error-tooltip {
  background-color: #CC0302 !important;
}

.ct-error-tooltip:after {
  border-bottom-color: #CC0302 !important;
}

.ct-app {
  background: white;
  margin: 100px auto;
  width: 500px;
}

.ct-app * {
  box-sizing: border-box;
}

.ct-app,
.ct-app button,
.ct-app input,
.ct-app select,
.ct-app textarea {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  outline: 0;
}
