.ct-year, .ct-month, .ct-day {
  display: inline-block;
  margin-right: 5px;
}

.ct-year {
  width: 80px;
}

.ct-month {
  width: 100px;
}

.ct-day {
  width: 60px;
}

.ct-input-invalid .rw-input {
  border: 1px solid #ED1631
}