.ct-hour, .ct-minute {
  display: inline-block;
  width: 57px;
}

.ct-hour {
  margin-left: 10px;
  margin-right: 3px;
}

.ct-am-pm {
  background: #8285F5;
  border: solid 1px #6064ED;
  width: 50px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:8px;
  padding-bottom:8px;
  line-height: 18px;
}

button.ct-am-pm:disabled {
  background: #AAACFA;
  color: #D8D9FE;
  border: solid 1px #AAACFA;
  cursor: not-allowed;
}

button.ct-am-pm:hover {
  background: #AAACFA;
}

button.ct-am-pm:active {
  background: #8285F5;
}