.ct-error-container {
  background: #FF6767;
  border: solid 1px #DC6363;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05px);
  color: white;
  padding: 10px 30px;
  margin: -45px auto 10px;
  font-size: 12px;
}

.ct-error-list {
  padding: 0 10px;
}

.ct-error-message {
  text-align: center;
  text-transform: uppercase;
}
