.ct-input {
  border: 1px solid #eee;
  border-radius: 3px;
  color: #444;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  padding: 8px;
  width: 100%;
}

.ct-input:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}

.ct-input.ct-input-invalid {
  border-color: #ED1631;
}

.ct-input.ct-input-invalid:hover {
  border-color: #CC0302;
}

.Select > .Select-control {
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: none !important;
  color: #444;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}

.Select.ct-input-invalid > .Select-control {
  border-color: #ED1631;
}

.Select.ct-input-invalid > .Select-control:hover {
  border-color: #CC0302;
}

.Select:not(.is-disabled):not(.ct-input-invalid) > .Select-control:hover {
  border-color: #ddd;
}

.Select.is-focused:not(.is-disabled):not(.ct-input-invalid)  > .Select-control {
  border-color: #ddd;
}

.Select > .Select-control:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}

.Select > .Select-control > .Select-item {
  margin-left: 6px;
  margin-top: 6px;
}

.Select > .Select-control > .Select-arrow-zone,
.Select > .Select-control > .Select-clear-zone {
  vertical-align: inherit;
}
