.ct-sitemap {
  white-space: nowrap;
  padding-bottom: 5px;
}

.ct-sitemap .ct-list-item, .ct-sitemap .ct-list-header {
  vertical-align: top;
  font-size: 17px;
}

.ct-sitemap .ct-link:not(.ct-visited),
.ct-sitemap .ct-plain {
  color: #B1B1B2;
  cursor: default;
}

.ct-sitemap .ct-link:not(.ct-visited):hover {
  text-decoration: none;
}

.ct-sitemap .ct-link.ct-current {
    font-weight: bold;
    color: #5DB0EA;
}

.ct-sitemap > .ct-list > .ct-list-body > .ct-list, 
.ct-sitemap > .ct-list > .ct-list-body > .ct-list-item {
  display: inline-block;
}

.ct-sitemap .ct-list-body .ct-list-item, .ct-sitemap .ct-list-body .ct-list  {
  display: inline-block;
}

.ct-sitemap .ct-list-body {
  width: 0;
}