.ct-table-container {
    margin: 20px 0 5px;
}

.ct-table {
  width: 100%;
}

.ct-table-header-sort-ascending::after {
  content: "▾";
}

.ct-table-header-sort-descending::after {
  content: "▴";
}

.ct-table-header-sort-direction {
  font-size: 15px;
  width: 10px;
  position: absolute;
}